@using Diplom2.Models
@model IEnumerable<Item>

@{
    ViewData["Title"] = @Localizer["Title-sort"].Value.ToString() + "-" + ViewBag.Title ;
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">link</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@item.ItemName</th>
                <td><a asp-controller="Item" asp-action="details" asp-route-id="@item.ItemId">@Localizer["Button-more"]</a></td>
            </tr>
        }
    </tbody>
</table>
<hr />
