@model Diplom2.Models.Collection
@{
    ViewData["Title"] = "Detail collection" + @Model.CollectionId;
}
<form method="post"asp-action="DeleteCollection" asp-route-id="@Model.CollectionId">
    <div class="row">
    <h2>Delete collection @Model.CollectionName</h2>
    </div>
    <div class="row">
    <button class="btn btn-danger" type="submit">Delete</button> 
    </div>
</form>

