<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @if (User.Identity.IsAuthenticated )
    {  
        @if(User.FindFirst("ThemeSite") != null)
        {
        if(User.FindFirst("ThemeSite").Value == "True")
        {
            
                <link rel="stylesheet" href="~/css/darktheme.css" />
        }
    }
        
    }
    @{
            var t = User.FindAll("ThemeSite");
        }
    @RenderSection("Links", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Diplom2</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                     <ul class="navbar-nav flex-grow-2">
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated && User.FindFirst("ThemeSite").Value == "True")
                            {
                                <a class="nav-link text-dark" onclick = "return themesite(this)" href="#">Light theme</a>
                            }
                            else{
                                <a class="nav-link text-dark" onclick = "return themesite(this)" href="#">Dark theme</a>
                            }
                                
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <form asp-controller="Home" asp-action="Search" method="get">
                                <div style="margin-bottom: 0;" class="form-group row">
                                    <div class="col-sm-9">
                                        <input class="form-control" id="search" type="text" name="search" />
                                    </div>
                                    <button class="btn btn-outline-primary" type="submit">Search</button>
                                </div>
                            </form>
                        </li>
                    </ul>
                   
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Diplom2
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
