
@{
    ViewData["Title"] = "Add theme";
}

<h2>Add new theme collections</h2>
<form method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="new-theme">New Theme</label>
        <div class="col-sm-6">
            <input class="form-control" id="new-theme" type="text" name="theme" required/>
        </div>
        </div>
        <button class="btn btn-success" type="submit" id="submit">Add new theme collections</button>
</form>
